/* reset margin, padding */
body{
    margin: 0 !important;
    padding: 0 !important;
}
.banner .background{
    height: 500px;
}
.about-sign_in{
    height: 80px;
    width: 100%;
    text-align: right;
}
.about,
.sign_in
 {
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
    padding: 7px 15px;
    text-transform: uppercase;
}
.sign_in{
    margin-right: 60px ;
    margin-left: 25px ;
    border: 1px solid greenyellow;
    border-radius: 25px; 
    color: greenyellow;
}
.logo{
    background: url("./hapoERP.png") center center no-repeat;
    margin-top: 40px;
    height: 100px;
}
.text{
    text-align: center;
    margin-top: 30px;
}

.banner .btn-start-now button {
    text-transform: uppercase;
    padding: 10px 15px;
    border: 1px solid greenyellow;
    border-radius: 20px;
    margin-top: 25px;
    cursor: pointer;
}
.btn-start-now{
    text-align: center;
    text-transform: uppercase;
}
.content-center{
    text-align: center;

}
span{
    display: block;
    font-size: 20px;
}
.text span {
    color: green;
}
.gift, .clock, .thumb_up{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 33%;
    display: inline-block;
}
img{
    width: 30px;
    height: 30px;
    text-align: center;
}